/* src/components/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2196f3;
  padding: 1rem 2rem;
  color: white;
}

.navbar-logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

.navbar-links a:hover {
  text-decoration: underline;
}

